**/node_modules/*
**/*FIXME/*
topics/javascript/01-basics/06-exercises/01-coin-convert/boilerplate/coinConvert.js
topics/javascript/01-basics/06-exercises/02-restaurant-bill/boilerplate/restaurantBill.js
topics/javascript/09-errors
topics/javascript/10-debugging
topics/functional
topics/paradigms
projects/05-chat-app
vite.config.js