.DS_Store
*.swp
*.log
.vscode/
node_modules/
.idea/
.env

#documents extensions
**.[pP][dD][fF]
**.[dD][oO][cC]
**.[dD][oO][tT]
**.[dD][oO][cC][xX]
**.[dD][oO][cC][mM]
**.[dD][oO][tT][xX]
**.[dD][oO][tT][mM]
**.[dD][oO][cC][bB]
**.[pP][pP][tT][xX]
**.[pP][pP][tT][mM]
**.[pP][oO][tT][xX]
**.[pP][oO][tT][mM]
**.[pP][pP][aA][mM]
**.[pP][pP][sS][xX]
**.[pP][pP][sS][mM]
**.[sS][lL][dD][xX]
**.[sS][lL][dD][mM]
**.[pP][pP][tT]
**.[pP][oO][tT]
**.[pP][pP][sS]
**.[xX][lL][sS][bB]
**.[xX][lL][aA]
**.[xX][lL][aA][mM]
**.[xX][lL][lL]
**.[xX][lL][wW]
**.[xX][lL][sS]
**.[xX][lL][tT]
**.[xX][lL][mM]

#video extensions
#common video extensions (case insensitive)
**.[wW][eE][bB][mM]
**.[mM][kK][vV]
**.[fF][lL][vV]
**.[vV][oO][bB]
**.[oO][gG][vV]
**.[oO][gG][gG]
**.[dD][rR][cC]
**.[mM][oO][vV]
**.[qQ][tT]
**.[mM][nN][gG]
**.[aA][vV][iI]
**.[wW][mM][vV]
**.[yY][uU][vV]
**.[rR][mM]
**.[rR][mM][vV][bB]
**.[mM][pP]4
**.[mM]4[pP]
**.[mM]4[vV]
**.[mM][pP][gG]
**.[mM][pP]2
**.[mM][pP][eE][gG]
**.[mM][pP][eE]
**.[mM][pP][vV]
**.[mM]2[vV]
**.[sS][vV][iI]
**.3[gG][pP]
**.3[gG]2
**.[mM][xX][fF]
**.[rR][oO][qQ]
**.[nN][sS][vV]
