{
  "env": {
    "browser": true
  },
  "parserOptions": {
    "ecmaVersion": 2018,
    "sourceType": "module"
  },
  "extends": "eslint:recommended",
  "rules": {
    "no-console": "warn",
    "import/extensions": 0
  }
}
