.Content img {
  max-width: 100%;
}

.Content .video-container,
.Content .iframe-container {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 30px;
  height: 0;
  overflow: hidden;
}

.Content .video-container iframe,
.Content .video-container object,
.Content .video-container embed,
.Content .iframe-container iframe,
.Content .iframe-container object,
.Content .iframe-container embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/*
.Content .iframe-wrapper {
  background: url('/img/loader.gif') center center no-repeat;
}
*/
