body {
  margin: 0;
  font-family: Open Sans, -apple-system, BlinkMacSystemFont, 'Segoe UI',
    'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans',
    'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* background-color: #f8f8f8; */
  background-color: rgb(247,247,247);
}

h1, h2, h3, h4, h5, h6 {
  font-family: Bitter;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

a {
  color: inherit;
}

a:hover {
  color: #ff009e;
}

.vega-embed,
.vega-embed::after,
.vega-embed::before {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
}
.vega-embed {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}